.content-container {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  grid-template-rows: auto auto; /* Dos filas para dividir cada columna */
  gap: 20px; /* Espaciado entre los elementos */
  margin-bottom: 5rem;
}

/* Primera fila - Columna izquierda (Descripción) */
.description {
  background-color: #abb4e0;
  padding: 15px;
  border-radius: 5px;
  color: white;
  line-height: 1.2;
  word-break: break-word;
  font-size: 15px;
  text-align: justify;
  display: flex;
  align-items: center;
}

/* Primera fila - Columna derecha (Caja vacía) */
.empty-box {
  background-color: #e0e0e0; /* Color gris claro como referencia */
  padding: 15px;
  border-radius: 5px;
  min-height: 100px; /* Ajusta el tamaño según lo necesites */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Segunda fila - Columna izquierda (Espacio vacío para futura incorporación) */
.left-lower {
  background-color: #f0f0f0; /* Color gris claro para visualización */
  padding: 15px;
  border-radius: 5px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Segunda fila - Columna derecha (Imagen Quote) */
.right-lower {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
}

.quote {
  width: 100%;
  height: 15rem;
  display: block;
}

/* Slideshow - Columna derecha */
.slideshow-container {
  position: relative;
  width: 100%;
  height: 250px; /* Ajusta según necesidad */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  background-color: #e0e0e0; /* Fondo gris de referencia */
}

.slideshow-overlay {
  position: absolute;
  top: 0px;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  background: #677ce0;
  color: white;
  padding: 5px 5px;
  border-radius: 0px;
  font-size: 14px;
  font-weight: bold;
}

.slideshow-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slideshow-container img {
  opacity: 1;
}


